// messageのテキストのカラー
$textColor: #434a54;

// saideHeaderのカラー
$sideHeaderColor: #253141;

// sidebarのgroupsのカラー
$sideGroupsColor: #2f3e51;

// mainHeaderのカラー
$mainHeaderColor: #ffffff;

// chatMainのmessagesのカラー
$messagesColor: #fafafa;

// formのカラー
$formColor: #d2d2d2;
